#features {
  background: ghostwhite;
  text-align: center;

  padding-top: 6em;
  padding-bottom: 10em;
  height: 100%;
  width: 100%;
}
#featuresHeader {
  text-align: center;
  color: black;
  font-size: 35pt;

  margin-top: 5px;
}

#slides {
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -45px;
  width: 100%;
  height: 100%;
}

#featuresList {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 40%;
}

#features img {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  height: 40%;
}

#slideText {
  color: black;
  font-size: 15pt;
  padding-top: 10px;
}
