#features {
  background: url(../../images/qbkls.png);
  margin: 0 auto;
  text-align: center;
  padding-top: 6em;
  padding-bottom: 9em;
  height: 100%;
  width: 100%;
  /* border-bottom: inset;
  border-color: white;
  border-width: 1px; */
  /* padding: 150px; */

  /* block-size: 26em; */
}
#featuresHeader {
  text-align: center;
  color: black;
  font-family: "Oxygen Mono", monospace;
  margin-top: 5px;
  font-size: 35pt;
  text-shadow: 6px 5px 6px #838383;
}

#featuresList {
  list-style-type: none;
}

#features img {
  margin: 0 auto;
  align-items: center;
  position: relative;
}
