#features {
  /* margin: 0 auto; */
  /* padding: 100px; */
  left: 0;
  right: 0;
  height: 100%;
  writing-mode: horizontal-tb;
  align-items: flex-end;
  block-size: 40em;
  padding: 150px;
  background-color: lightcyan;
  /* block-size: 26em; */
}

#featuresList {
  list-style-type: none;
}

#features img {
  margin: 0 auto;
}
