.main {
  writing-mode: horizontal-tb;
  align-items: flex-end;
  block-size: 40em;
  padding: 150px;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
}

#chromogenheader {
  /* align-content: center; */
  margin-left: 0;
  justify-content: space-between;
}

#logo {
  width: 70px;
}

#description1 {
}

#description2 {
  inline-size: 25em;
}

#buttons {
}

#links {
}
