.main {
  background: rgb(255, 255, 255);
  background: linear-gradient(328deg, rgba(255, 255, 255, 1) 0%, #678afe 73%);
  padding-top: 2em;
  padding-bottom: 7em;
  height: 100%;
  width: 100%;
  writing-mode: horizontal-tb;
  align-items: flex-end;
  block-size: 50em;
  /* border-bottom: inset;
  border-color: white;
  border-width: 1px; */
  /* padding-bottom: 15em; */
}

#mainLeft {
  float: left;
  padding-left: 80px;
  padding-top: 6em;
}

#mainRight {
  float: right;
  width: 40%;
  padding-left: 80px;
  padding-top: 3em;
  padding-bottom: 40px;
  margin-right: 5em;
  margin-top: 130px;
  align-content: center;
  /* position: absolute; */
}

#fontHeader {
  font-size: 40pt;
  margin-left: 0;
  margin-bottom: -3px;
  font-family: "Oxygen Mono", monospace;
  text-shadow: 8px 7px 8px #436efc;
}

#logo {
  float: right;
  position: relative;
  padding-top: 3em;
  width: 200px;
  align-content: center;
  margin-right: 4em;
  /* bottom: 15em; */
  right: 0;
  width: 200px;
}

#description1 {
  font-size: 15pt;
  font-family: "Noto Sans TC", sans-serif;
}

#description2 {
  inline-size: 420px;
  font-size: 12pt;
  font-family: "Noto Sans TC", sans-serif;
}

#allButtons {
  float: left;
  padding-top: 0.5em;
  text-transform: lowercase;
}

#button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;

  width: 9.5em;
  height: 2.2em;
  margin: 10px;
  padding: 20px;

  font-family: "Oxygen Mono", monospace;
  font-size: 19px;
  text-align: center;
  text-transform: lowercase;

  border: 0.5px solid white;
  box-shadow: 5px 4px 5px #5d7fed;

  background: #f1f4ff;
}

#button:hover {
  border: 2px solid #5d7fed;
  box-shadow: 10px 10px 10px #5d7fed;
  width: 10.2em;
  height: 2.7em;
  font-size: 22px;
  font-weight: bold;
}
#button:active {
  position: relative;
  top: 1px;
}
