.main {
  background: ghostwhite;
  block-size: 50em;
  height: 100%;
  width: 100%;

  padding-top: 2em;
  padding-bottom: 5em;

  display: flex;
  align-content: center;
  justify-content: center;
  writing-mode: horizontal-tb;
}

#mainLeft {
  float: left;
  padding-left: 80px;
  padding-top: 6em;
}

#mainRight {
  float: right;
  width: 40%;
  padding-right: 80px;
  padding-top: 3em;
  margin-right: 5em;
  margin-top: 130px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

#logo {
  width: 200px;
  position: absolute;
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  align-content: center;
  right: 0;
  width: 200px;
}

#fontHeader {
  font-size: 40pt;
  margin-left: 0;
  margin-bottom: -3px;
  color: black;
}

#description1 {
  font-size: 15pt;
  color: black;
}

#description2 {
  inline-size: 425px;
  font-size: 12pt;
  color: black;
}

#allButtons {
  float: left;
  padding-top: 0.5em;
}

#button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;

  width: 200px;
  height: 2.2em;
  margin: 10px;
  padding: 20px;

  font-size: 15px;
  text-align: center;

  border: 1.5px solid rgb(104, 104, 104);
  border-radius: 5px;

  background: #A7CCED;
  color: black;
}

#button:hover {
  background: #93B7BE;
  cursor: pointer;
  transition: 0.3s;
}

#button:active {
  position: relative;
  top: 1px;
}
