.main {
  background: ghostwhite;
  block-size: 50em;
  height: 100%;
  width: 100%;

  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

#logo {
  width: 150px;
}

#fontHeader {
  font-size: 100pt;
  color: black;
  font-weight: 800;
}

#description1 {
  font-size: 22pt;
  color: black;
  margin-top: -30px;
}

#description2 {
  font-size: 15pt;
  color: black;
  width: 30%;
  margin: 0 auto;
  line-height: 30px;
}

#allButtons {
  padding-top: 3.5em;
}

#button {
  cursor: pointer;

  width: 200px;
  margin: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 15px;
  text-align: center;
  font-weight: 600;

  border: 2px solid #a7e1f7;
  border-radius: 8px;

  background: #a7e1f7;
  color: black;
}

#button:hover {
  background: ghostwhite;
  cursor: pointer;
  transition: 0.3s;
  color: #a7e1f7;
  border: 2px solid #9BD1E5;
}

#button:active {
  position: relative;
  top: 1px;
}
