#navbar {
  background-color: #484949;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  z-index: 1;

  margin: auto;
  top: 0;
  left: 7px;
  right: 7px;
  height: 75px;
}

#logo {
  display: flex;
  width: 40px;
  position: left;
  left: 0;
}

#leftNav {
  list-style-type: none;
  display: flex;
  justify-content: flex-between;
  align-items: center;
  margin-left: 2.5em;
}

#rightNav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 5em;
}

#navItem {
  font-size: 14pt;
  color: white;
}

#navItem:hover {
  color: #84A9C0;
}

#features {
}
