#navbar {
  background: url(../../images/qbkls.png);
  background-color: white;
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 142, 255, 1) 69%
  ); */
  /* border-bottom: solid;
  border-color: white;
  border-width: 1px; */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  z-index: 1;

  margin: auto;
  top: 0;
  left: 7px;
  right: 7px;
  height: 70px;
}

#logo {
  display: flex;
  width: 40px;
  position: left;
  left: 0;
}

#title {
  font-size: 24pt;
  font-weight: bold;
  color: black;
  text-shadow: 0.5px 0.5px 1px #606060;
}

#leftNav {
  list-style-type: none;
  display: flex;
  justify-content: flex-between;
  align-items: center;
  margin-left: 2.5em;
}

#rightNav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 5em;
}

#navItem {
  font-size: 14pt;
  font-family: "Oxygen Mono", monospace;
  color: black;
  text-shadow: 0.5px 0.5px 1px #606060;
}

#navItem:hover {
  font-style: italic;
  color: #7c7c7c;
}

#features {
}
