#navbar {
  background-color: #f1f1f1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  /* z-index: 1; */
  width: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

#logo {
  display: flex;
  width: 40px;
  cursor: pointer;
  position: left;
  left: 0;
}

#leftNav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#rightNav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#features {
}
