#navbar {
  background-color:#383F51;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}

#logo {
  display: flex;
  width: 40px;
  position: left;
  left: 0;
  cursor: pointer;
}

#leftNav {
  list-style-type: none;
  display: flex;
  justify-content: flex-between;
  align-items: center;
  margin-left: 2em;
}

#rightNav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-right: 5em;
  word-spacing: 9px;
}

#navItem {
  font-size: 14pt;
  color: white;
  transition: 0.3s;
}

#navItem:hover {
  color: #84A9C0;
}

#hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #383F51, rgba(0, 0, 0, 0));
}
