#team {
  background: transparent;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;
  bottom: 10px;
}

#teamProfiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

#individual {
}

#profileImage {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 1em;
  z-index: 2;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

#profileLinks {
}

#hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
