#team {
  background: ghostwhite;

  text-align: center;

  padding-top: 4em;
  padding-bottom: 4em;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

#teamHeader {
  text-align: center;
  font-size: 35pt;
  color: black;
}

#teamProfiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  color: black;
}

#profileImage {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 1em;
  z-index: 2;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#profileImage:hover {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 1em;
  z-index: 2;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#name {
  font-size: 14pt;
  color: black;
  font-family: "Inter";
}

#profileLinks {
}

#profileLinks:hover {
}

#githubLink {
  padding: 3px;
}

#githubLink:hover {
  
}

#linkedinLink {
  padding: 3px;
}

#linkedinLink:hover {
  
}
