#team {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    328deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 140, 254, 1) 73%
  );
  text-align: center;
  padding-top: 7em;
  padding-bottom: 9em;
  height: 100%;
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

#teamHeader {
  text-align: center;
  margin-top: 5px;
  font-size: 35pt;
  font-family: "Oxygen Mono", monospace;
}

#teamProfiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

#individual {
}

#profileImage {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 1em;
  z-index: 2;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#profileImage:hover {
  border-radius: 50%;
  height: 10em;
  width: 10em;
  margin-bottom: 1em;
  z-index: 2;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#name {
  color: black;
}

#profileLinks {
}

#profileLinks:hover {
}

/* #hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
} */
