* {
  box-sizing: border-box;
}

body {
  background-color: ghostwhite;
  font-family: sans-serif;
  /* grid-template-rows: 100px 100px 100px; */
  /* align-items: end;
  align-content: end; */
  margin: 1em;
}
