* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: "Palanquin", sans-serif;
}

body {
  background-color: ghostwhite;
  /* text-decoration: none; */
  /* grid-template-rows: 100px 100px 100px; */
  /* align-items: end;
  align-content: end; */
  /* margin: 1em; */
}

#all {
}
